body {
    background:#000;
    }
    
    h1 {
      text-align: center;
      margin-top: 5%;
      font-family: arial  ;
      
      font-weight: normal;
      font-size: 50px;
      color: #000000;
    }
    
    p {
      text-align:center;
      color: #fdec6e;
    }
    
    a:link {
      text-decoration: none;
    }
    
    mat-card {
      max-width: 600px;
      margin: 2em auto;
      text-align: center;
    }

    .filler {
      flex: 1 1 auto;
   }
   .gap {
      margin-right: 20px;
   }

   .example-spacer {
    flex: 1 1 auto;
  }

    a:visited {
      text-decoration: none;
      color: #000000;
    }
    
    a {
      color:#000000;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
    
    a:hover {
      color: #9470ff;
      text-shadow:0px 0px 30px #6ef1fd;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }