<table style="background: color #667776;">
  
  <main>

    <p>
      <mat-toolbar color="primary">
      
        <span>Organisation's employee hierarchy</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a text-align: center routerLink="/login">Login</a>&nbsp;&nbsp;&nbsp;
          <a text-align: center routerLink="/signup">Sign Up</a>&nbsp;&nbsp;&nbsp;
          <a text-align: center routerLink="/add">Add user</a>&nbsp;&nbsp;&nbsp;
          <a text-align: center routerLink="/">Display</a> &nbsp;&nbsp;&nbsp;
      </mat-toolbar>
   
    </p>  
        <router-outlet></router-outlet>
     
    </main>
  </table>